body {
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: Knockout;
  src: url("fonts/Knockout-HTF48-Featherweight.ttf");
}
@font-face {
  font-family: GothamBook;
  src: url("fonts/Gotham-Medium.woff");
}
@font-face {
  font-family: GothamLight;
  src: url("fonts/gotham-light-webfont.woff");
}
@font-face {
  font-family: GothamBold;
  src: url("fonts/Gotham-Bold.woff");
}

a {
  text-decoration: none;
  color: #efc100;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

.spacing {
  margin-top: 60px;
}

.footer {
  background: #2069a1;
  font-family: GothamLight, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #ffffff;
  padding: 20px;
}

a.footer {
  color: #efc100;
  text-decoration: none;
  padding: 0px;
  margin-left: 25px;
}

a:hover.footer {
  color: #fff;
  padding: 0px;
}

.tiny {
  font-size: 8px;
}

.nav-container {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.7 opacity */
  background: rgba(0, 0, 0, 0.9);
}

.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
} /* this make our menu fixed top */

ul {
  float: right;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.7 opacity */
  background: rgba(0, 0, 0, 0.7);
}

a.topmenulogo {
  float: left;
  width: auto;
  height: 50px;
  text-decoration: none;
  color: white;
  padding: 0.2em 0.6em;
  margin-right: 30px;
  border-right: 0px solid white;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
a:hover.topmenulogo {
  background-color: #2069a1;
}

a.topmenu {
  font-family: GothamLight, sans-serif;
  font-size: 17px;
  float: left;
  width: auto;
  height: 38px;
  text-decoration: none;
  color: white;
  padding-top: 18px;
  border-right: 0px solid white;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}

a:hover.topmenu {
  background-color: #2069a1;
  opacity: 1;
  filter: alpha(opacity=100);
}

li {
  display: block;
}

.darksearch {
  width: 95%;
  height: 50px;
  padding-top: 10px;
  background: url("./images/dark_grey.jpg");
}
.darksearch input[type="text"] {
  font-family: GothamLight, sans-serif;
  border: 1px solid #1e1e1e;
  background-color: #2e2e2e;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
  box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
}

input[type="text"] {
  color: #bcbcbc;
  font-family: GothamLight, sans-serif;
}

.search {
  padding: 6px 15px 6px 30px;
  margin: 3px;
  background: url("./images/search.png") no-repeat 8px 6px;
  font-family: GothamLight, sans-serif;
  height: 28px;
}

.owshare {
  padding: 6px 15px 6px 30px;
  margin: 3px;
  background: url("./images/owshare.png") no-repeat 8px 6px;
  font-family: GothamLight, sans-serif;
  height: 28px;
}

input[type="submit"] {
  position: relative;
  left: -4px;
  height: 28px;
  font-family: GothamLight, sans-serif;
  border: 1px solid #1e1e1e;
  background-color: #2069a1;
  /** 
	background: #fdd932; 
	background: -moz-linear-gradient(top, #fdd932 0%, #ffd305 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515151), color-stop(100%,#2d3035)); 
	background: -webkit-linear-gradient(top, #515151 0%,#383838 100%); 
	background: -o-linear-gradient(top, #e4f1f9 0%,#ffd305 100%); 
	background: -ms-linear-gradient(top, #e4f1f9 0%,#ffd305 100%); 
	background: linear-gradient(top, #e4f1f9 0%,#ffd305 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#ffd305',GradientType=0 ); /* IE6-9 */
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}

input[type="submit"]:hover {
  background-color: #efc100;
  color: #2d3035;
  cursor: pointer;
}
.searchform {
  border: 1px solid #1e1e1e;
  background-color: #3b383b;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
  box-shadow: inset 2px 2px 5px -5px rgba(0, 0, 0, 0.04);
  height: 28px;
  font-family: Verdana;
}
.ownedwellblue {
  background: #2069a1;
}

a.tooltip {
  cursor: pointer;
}

th {
  font-family: GothamBook, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #f7fbff;
  background: #3b383b;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
  border-top: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}

.noborders {
  font-family: GothamBook, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #f7fbff;
  background: #3b383b;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
  border: 0px !important;
}

.weapspacer {
  background: #2e2e2e;
}

.clear {
  clear: both;
}

.totals {
  background: #252525;
  color: #ffffff;
  font-family: GothamBook, Verdana, Geneva, Arial, Helvetica, sans-serif !important;
  font-size: 10pt;
  padding: 5px;
  height: 35px;
  border-left: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}

.red {
  font-family: GothamBold, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: -webkit-linear-gradient(
    #b40101,
    #870202
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b40101, #870202); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #b40101,
    #870202
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b40101, #870202); /* Standard syntax */
  height: 30px;
}
.blue {
  font-family: GothamBold, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: -webkit-linear-gradient(
    #2069a1,
    #194c74
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2069a1, #194c74); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #2069a1,
    #194c74
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2069a1, #194c74); /* Standard syntax */
  height: 30px;
}
.green {
  font-family: GothamBold, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: -webkit-linear-gradient(
    #278040,
    #216635
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#278040, #216635);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #278040,
    #216635
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#278040, #216635);
  /* Standard syntax */
  height: 30px;
}
.yellow {
  font-family: GothamBold, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: -webkit-linear-gradient(#efc100, #e0b501);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#efc100, #e0b501); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #efc100,
    #e0b501
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#efc100, #e0b501);
  /* Standard syntax */
  height: 30px;
}
.Gold {
  font-family: GothamBold, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #1e1e1e;
  background: -webkit-linear-gradient(#efc100, #e0b501);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#efc100, #e0b501); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #efc100,
    #e0b501
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#efc100, #e0b501); /* Standard syntax */
  height: 30px;
}
.score {
  font-family: Knockout;
  font-size: 50px;
  padding: 20px;
}
/** Button from Scott CSS **/
.navCTA {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 5;
  text-transform: uppercase;
  color: #fff;
  background: rgba(30, 30, 30);
  background: rgba(32, 105, 161, 0.8);
  border: 1px #fff solid;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.navCTA:hover {
  margin-top: 15px;
  background: rgba(239, 193, 0, 0.8);
  text-decoration: none;
  color: #fff;
}
.navCTA:active {
  background: rgba(255, 255, 255, 0.5);
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.clocks {
  width: 900px;
  margin-left: 200px;
}
.column-left {
  float: left;
  width: 33%;
  margin-left: 25%;
  margin-right: -210px;
}
.column-right {
  float: left;
  width: 33%;
}
.column-center {
  float: left;
  width: 33%;
}
/** Fonts etc **/
.heading {
  /** The blue H1 headings **/
  font-family: Knockout, Arial, Helvetica, Sans-serif;
  font-size: 30pt;
  color: #ffffff;
  background: #2069a1;
  text-transform: uppercase;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}
.txttitle {
  color: #fff;
  font-family: Knockout;
  text-transform: uppercase;
}
.recentheader {
  margin-left: 3px;
  width: 896px;
  height: 300px;
  position: center;
}
.matchtop {
  margin-bottom: 1px;
  border-bottom: 1px solid #1e1e1e;
  width: 700px;
}
.matchheader {
  margin-left: 1px;
  width: 699px;
  height: 232px;
  position: center;
  border-left: 1px solid #1e1e1e;
}
.imgbg {
  z-index: 0;
}
.carousel-caption {
  font-family: GothamLight;
  /** position: absolute;
  right: 15%;
  bottom: 350px;
  left: 15%;
  z-index: 10; 
  padding-top: 20px;
  padding-bottom: 20px; **/
  margin-top: -1px;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.carousel-header {
  font-family: Knockout;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
}
.carousel-red {
  color: #a12020;
  height: 120px;
  font-family: Knockout;
  font-size: 100px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-red-small {
  color: #a12020;
  height: 60px;
  font-family: Knockout;
  font-size: 30px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-blue {
  color: #2069a1;
  height: 120px;
  font-family: Knockout;
  font-size: 100px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-blue-small {
  color: #2069a1;
  height: 60px;
  font-family: Knockout;
  font-size: 30px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-green-small {
  color: #278040;
  height: 60px;
  font-family: Knockout, sans-serif;
  font-size: 30px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-gold-small {
  color: #efc100;
  height: 60px;
  font-family: Knockout, sans-serif;
  font-size: 30px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.carousel-text {
  color: #fff;
  width: 70px;
  width: 70px;
  font-family: GothamLight, sans-serif;
  font-size: 13px;
  background: rgb(30, 30, 30);
  background: rgba(30, 30, 30, 0.8);
  text-align: center;
}
.suicide {
  background: #3b383b;
}
.zebra {
  border: 1px solid #1e1e1e;
  background: rgb(81, 81, 81);
  background: rgba(81, 81, 81, 1);
}
.zebra tr:last-child {
  border-right: 1px solid #1e1e1e;
}
.zebra td {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  padding: 5px;
  border-top: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
  empty-cells: show;
  /* For Firefox to show empty cells properly */
  border-collapse: separate;
  cursor: pointer;
}
.zebra tbody tr:nth-child(odd) {
  background: rgb(103, 103, 103);
  background: rgba(103, 103, 103, 1);
}
.zebra tr:hover {
  background: rgba(142, 142, 142, 1) !important;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.killsMatrix {
  border: 1px solid #1e1e1e;
  background: rgb(81, 81, 81);
  background: rgba(81, 81, 81, 1);
  cursor: pointer;
}
.killsMatrix tbody tr:nth-child(odd) {
  background: rgb(103, 103, 103);
  background: rgba(103, 103, 103, 1);
}
.killCell {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  padding: 5px;
  border-left: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}
.killsMatrixHover {
  background: rgba(142, 142, 142, 1) !important;
}
.vertical {
  transform: rotate(90deg) translate(0px, 0px);
  width: 25px;
  margin-top: -50px;
}
.clickableRow {
  cursor: pointer;
}
.cell {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  padding: 5px;
  border-top: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
}
a.cell {
  color: #1e1e1e !important;
}
.flag {
  margin-bottom: -2px;
}
.share {
  margin-top: 5px;
  background: #282628;
  color: #fff;
  font-family: GothamBook, Verdana, sans-serif !important;
  font-size: 20px !important;
}
.winner {
  float: left;
  margin-bottom: -3px;
}
.watchlist {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
}
.watchlistbox {
  width: 700px;
  background: rgb(81, 81, 81);
  background: rgba(81, 81, 81, 1);
  padding: 30px;
}
h2 {
  margin-left: 30px;
  font-family: GothamBook, Verdana, Arial, Helvetica;
}
.credits {
  /* This is a different table class for the Credits page */
  padding-left: 30px;
  border-bottom: 1px solid #2e2e2e;
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  padding: 5px;
  border-top: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
  empty-cells: show; /* For Firefox to show empty cells properly */
  background: rgb(81, 81, 81);
  background: rgba(81, 81, 81, 1);
}
/** This is from old utstats **/
.text {
  font-family: GothamLight, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #efefef;
}
.text2 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: #efefef;
}
.txttitleold {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #eaeaea;
  font-weight: bold;
}
.rangtext {
  padding-top: -3px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: #c7c7c7;
}
.box {
  text-align: center;
  border: 0px solid #1e1e1e;
}
.darkbox {
  border: 0px #2c323a solid;
}
.headingold {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 12pt;
  color: #ffffff;
  background: #2069a1;
  height: 40px;
}
a.heading {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 12pt;
  color: #ffee66;
}
a.heading:hover {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 12pt;
  color: #ffffff;
}
.medheading {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #f7fbff;
  font-weight: bold;
}
.hlheading {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #dfedff;
  background: -webkit-linear-gradient(
    #2069a1,
    #4c84b0
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2069a1, #4c84b0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #2069a1,
    #4c84b0
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2069a1, #4c84b0); /* Standard syntax */
  height: 30px;
}
.smheading {
  font-family: GothamBook, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #f7fbff;
  background: #3b383b;
  text-decoration: none;
  padding: 5px;
}
a.smheading:hover {
  font-family: GothamBook, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #fdd932;
  text-decoration: none;
}
.smheadingx {
  font-family: Verdana, Arial, Helvetica;
  font-size: 7pt;
  color: #f7fbff;
  background: #58677c;
  text-decoration: none;
}
.blank {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #243954;
  background: #243954;
  font-weight: normal;
}
.lggrey {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #dfedff;
  background: #485464;
  font-weight: bold;
}
a.lggrey {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #dfedff;
  background: #485464;
  font-weight: bold;
}
a.lggrey:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #ffffff;
  background: #485464;
  font-weight: bold;
}
.dark {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #dfdfdf;
  background: #515151;
  font-weight: normal;
  padding: 5px;
  border-left: 1px solid #1e1e1e;
}
.dark-mbreakdown {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #dfdfdf;
  background: #515151;
  font-weight: normal;
  padding: 0px;
}
tr .dark:hover {
  background: #515151;
}
.grey {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  background: #515151;
  font-weight: normal;
  padding: 5px;
}
.grey-mbreakdown {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #ffffff;
  background: #515151;
  font-weight: normal;
  padding: 0px;
}
a.grey {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #f4d01e;
  padding: 0px;
}
a.grey:hover {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  padding: 0px;
}
.grey2 {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  background: #6a6a6a;
  font-weight: normal;
  padding: 5px;
}
a.grey2 {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #f4d01e;
  background: #6a6a6a;
  font-weight: normal;
  padding: 0px;
}
a.grey2:hover {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  background: #6a6a6a;
  font-weight: normal;
  padding: 0px;
}
.darkgrey2 {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: #747474;
  font-weight: normal;
}
a.dakgrey2 {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #f4d01e;
  background: #747474;
  font-weight: normal;
}
a.darkgrey2:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #ffffff;
  background: #747474;
  font-weight: normal;
}
.darkgrey {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: #808080;
  font-weight: normal;
}
.warn {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #880000;
  background: #aeaeae;
  font-weight: bold;
}
.gselog {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #0f5465;
  background: #aeaeae;
  font-weight: bold;
}
.tclog {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #4d2821;
  background: #aeaeae;
  font-weight: bold;
}
.opnote {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #af3020;
  font-weight: bold;
}
.chatlink {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: #303441;
  font-weight: bold;
}
a.chatlink {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffff00;
  background: #303441;
  font-weight: bold;
}
a.chatlink:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: #303441;
  font-weight: bold;
}
.chat {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: #cccccc;
  font-weight: bold;
}
.chatred {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #800000;
  background: #cccccc;
  font-weight: bold;
}
.chatblue {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000080;
  background: #cccccc;
  font-weight: bold;
}
.chatsys {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #408040;
  background: #cccccc;
  font-weight: bold;
}
.chatkill {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #a4a21c;
  background: #cccccc;
  font-weight: bold;
}
.blueteamscore {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #505080;
  background: #cccccc;
}
.redteamscore {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #805050;
  background: #cccccc;
}
.connect {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #ffffff;
  background: #6c6c6c;
  font-weight: normal;
}
.disconnect {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #880000;
  background: #9f9f9f;
  font-weight: bold;
}
.greyhuman {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #e4bf12;
  background: #6c6c6c;
  font-weight: normal;
  text-decoration: none;
}
.darkhuman {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #fdd932;
  background: #515151;
  font-weight: normal;
  text-decoration: none;
  padding: 5px;
}
.darkbot {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #0575dd;
  background: #515151;
  font-weight: normal;
  text-decoration: none;
}
.darkid {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9;
  color: #dfdfdf;
  background: #515151;
  font-weight: normal;
  text-decoration: none;
}
a.darkid {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #dfdfdf;
  background: #515151;
  font-weight: normal;
  text-decoration: none;
}
a.darkid:hover {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  background: #515151;
  font-weight: normal;
  text-decoration: none;
}
.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background: #58677c;
  font-weight: bold;
}
a.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background: #58677c;
  text-decoration: none;
}
a.sidebar:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #ffffff;
  background: #58677c;
  text-decoration: none;
}
.pages {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
a.pages {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffc13c;
  text-decoration: none;
}
a.pages:hover {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 9pt;
  color: #ffd271;
  text-decoration: none;
}
.blueteam,
.blueteamb,
.bluebox {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: -webkit-linear-gradient(#2069a1, #194c74);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2069a1, #194c74);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #2069a1,
    #194c74
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2069a1, #194c74); /* Standard syntax */
}
.redteam,
.redteamb,
.redbox {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: -webkit-linear-gradient(
    #b40101,
    #870202
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b40101, #870202); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#b40101, #870202);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b40101, #870202); /* Standard syntax */
}
.greenteam,
.greenteamb,
.greenbox {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: -webkit-linear-gradient(
    #278040,
    #216635
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#278040, #216635); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #278040,
    #216635
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#278040, #216635);
  /* Standard syntax */
}
.goldteam,
.goldteamb,
.goldbox {
  font-family: GothamLight, Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #000000;
  background: -webkit-linear-gradient(
    #efc100,
    #e0b501
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#efc100, #e0b501); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #efc100,
    #e0b501
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#efc100, #e0b501); /* Standard syntax */
}
.bluebox,
.redbox,
.greenbox {
  margin-left: 3px;
  display: inline-block;
  height: 13px;
  min-width: 30px;
  border: 1px solid #2e2e2e;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
}
.goldbox {
  margin-left: 3px;
  display: inline-block;
  height: 13px;
  min-width: 30px;
  border: 1px solid #2e2e2e;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #2e2e2e;
}
.blueteamb,
.redteamb,
.greenteamb,
.goldteamb {
  border-left: 1px solid #1e1e1e;
  border-top: 1px solid #1e1e1e;
}
.lglheading {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #fdd30d;
  background: #58677c;
  font-weight: bold;
}
a.lglheading {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #f7fbff;
  background: #58677c;
  font-weight: bold;
}
a.lglheading:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  background: #58677c;
  font-weight: bold;
}
.status {
  font-family: Verdana, Helvetica;
  font-size: 12px;
  border: 1px #666666 solid;
}
.statustitle {
  font-family: Verdana, Helvetica;
  font-size: 12px;
  color: #ffffcc;
  background: #303441;
}
/*.searchform {FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: normal; height: 30px; padding: 3px;}*/
.searchformb {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
}
.titlemsg {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #efefef;
  font-weight: bold;
}
.mainbody {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #efefef;
  font-weight: bold;
}
a.mainbody {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #f4d01e;
  font-weight: bold;
}
a.mainbody:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  color: #ffffff;
  font-weight: bold;
}
.epicinfo {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #efefef;
  font-weight: bold;
}
a.epicinfo {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #caad20;
  text-decoration: none;
}
a.epicinfo:hover {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  color: #ffffff;
  text-decoration: none;
}
